<section>
    <div class="contact-container wrapper">
        <div class="location-info">
            <div class="card">
                <div class="inner-col">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="inner-col">
                    <h4>Email</h4>
                    <a href="mailto:" title="email" aria-labe="Email link">info@example.com</a>
                    <a href="mailto:" title="email" aria-labe="Email link">sales@example.com</a>
                </div>
            </div>
            <div class="card">
                <div class="inner-col">
                    <i class="fa-solid fa-phone-flip"></i>
                </div>
                <div class="inner-col">
                    <h4>Phone Number</h4>
                    <a href="tel:+" title="phone" aria-labe="Phone link">(123) 456 - 7891</a>
                </div>
            </div>
            <div class="card">
                <div class="inner-col">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="inner-col">
                    <h4>Location Address</h4>
                    <a href="mailto:" title="email" aria-labe="Email link">789 Location Drive, <br /> Stanton, CA 99000</a>
                </div>
            </div>
        </div>
        <div class="form-map">

        </div>
    </div>
</section>

<style>
    .location-info{
        background-color: var(--oatmeal);
        padding: 2rem 3rem;
        display: flex;
        justify-content: space-between;
    }
    .location-info .card{
        display: flex;
        gap: 0 14px;
    }
    .card .inner-col:last-of-type{
        width: calc(100%-70px);
        display: flex;
        flex-direction: column;
    }

</style>