<header id="header">
    <div class="header-container wrapper">
        <div class="left-col">
            <a href="#" class="logo" title="logo" aria-label="Logo">BZNZ</a>

            <nav>
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Features</a>
                    </li>
                    <li>
                        <a href="">Pricing</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                    <li class="mobile-el">
                        <a href="#" class="cta">Get Started</a>
                    </li>
                </ul>
            </nav>

            <button class="mobile-el hamburger-btn">
                <span class="hamburger-icon"></span>
            </button>
        </div>
        <div class="right-col">
            <a href="#" class="cta">Get Started</a>
        </div>
    </div>
</header>

<style>
    header{
        width: 100%;
        padding: 1.5rem 0;
        background-color: var(--oatmeal);
        border-bottom: 1px solid #d3cabc;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: all 0.3s ease-in;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container .left-col{
        display: flex;
        align-items: center;
        gap: 0 5.5rem;
    }
    .left-col .logo{
        font-family: "Inter", serif;
        letter-spacing: 1.25px;
        font-size: 1.75rem;
        font-weight: 700;
        font-style: normal;
        font-optical-sizing: auto;
        color: #000;
    }
    .header-container nav ul li{
        display: inline-block;
        margin-right: 1.5rem;
    }
    .header-container nav ul li:last-child{margin-right: 0;}
    .header-container nav ul li a{color: var(--charcoal);}
    .header-container nav ul li .cta{color: #000;}

    @media screen and (min-width: 922px){
        .header-container nav ul li a:hover{
            color: var(--dark-moss-green);
            text-decoration: underline;
        }
        .mobile-el{display: none;}
    }
    @media screen and (max-width: 921px){
        .header-container nav ul li a:active{color: var(--dark-moss-green);}
        .left-col nav, .header-container .right-col{display: none;}
    }
</style>
<script>
    window.addEventListener('scroll', () => {
        const header = document.getElementById('header');
        const scrollY = window.scrollY;

        if (scrollY > 100) {
            header.style.backgroundColor = 'rgba(234, 224, 208, 0.8)';
            header.style.backdropFilter = 'blur(10px)';
        } else {
            header.style.backgroundColor = 'rgba(234, 224, 208, 1)';
            header.style.backdropFilter = 'blur(0px)';
        }
    });
</script>