<header id="header">
    <div class="header-container wrapper">
        <div class="left-col">
            <a href="#" class="logo" title="logo" aria-label="Logo">BZNZ</a>

            <nav>
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Features</a>
                    </li>
                    <li>
                        <a href="">Pricing</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                    <li class="mobile-el">
                        <a href="#" class="cta">Get Started</a>
                    </li>
                </ul>
            </nav>

            <button class="mobile-el hamburger-btn">
                <span class="hamburger-icon"></span>
            </button>
        </div>
        <div class="right-col">
            <a href="#" class="cta">Get Started</a>
        </div>
    </div>
</header>

<style>
    header{
        width: 100%;
        padding: 1.5rem 0;
        background-color: var(--oatmeal);
        border-bottom: 1px solid #d3cabc;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        transition: all 0.3s ease-in;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container .left-col{
        display: flex;
        align-items: center;
        gap: 0 5.5rem;
    }
    .left-col .logo{
        font-family: "Inter", serif;
        letter-spacing: 1.25px;
        font-size: 1.75rem;
        font-weight: 700;
        font-style: normal;
        font-optical-sizing: auto;
        color: #000;
    }
    .header-container nav ul li{
        display: inline-block;
        margin-right: 1.5rem;
    }
    .header-container nav ul li:last-child{margin-right: 0;}
    .header-container nav ul li a{color: var(--charcoal);}
    .header-container nav ul li .cta{color: #000;}

    @media screen and (min-width: 922px){
        .header-container nav ul li a:hover{
            color: var(--dark-moss-green);
            text-decoration: underline;
        }
        .mobile-el{display: none !important;}
    }
    @media screen and (max-width: 921px){
        .header-container nav ul li a:active{color: var(--dark-moss-green);}
        .left-col nav, .header-container .right-col{display: none;}

        .hamburger-btn{
            border: 0;
            display: block;
            padding: 1.125rem 5px;
            background: transparent;
        }
        .hamburger-icon{
            display: block;
            position: relative;
            pointer-events: none;
        }
        .hamburger-icon, .hamburger-icon:before, .hamburger-icon:after {
            width: 2.25rem;
            height: 2px;
            background: var(--charcoal);
            border-radius: 30px;
            transition: all 0.3s ease-in-out;
            left: 0;
        }
        .hamburger-icon{width: 1.5rem;}
        .hamburger-icon::before,
        .hamburger-icon::after{ content: '';position: absolute;left: 0; }
        .hamburger-icon::before{bottom: 9px;}
        .hamburger-icon::after{top: 9px;}
        .animate{ transform: rotate(45deg);width: 2.25rem; }
        .animate::before{ opacity: 0; }
        .animate::after{ transform: rotate(90deg) translate(-9px); }

        .header-container .left-col{
            width: 100%;
            justify-content: space-between;
        }
    }
</style>
<script>
    window.addEventListener('scroll', () => {
        const header = document.getElementById('header');
        const scrollY = window.scrollY;

        if (scrollY > 100) {
            header.style.backgroundColor = 'rgba(234, 224, 208, 0.8)';
            header.style.backdropFilter = 'blur(10px)';
        } else {
            header.style.backgroundColor = 'rgba(234, 224, 208, 1)';
            header.style.backdropFilter = 'blur(0px)';
        }
    });

    let mobileNav = document.querySelector('.header-nav');
    let hamburgerBtn = document.querySelector('.hamburger-btn');
    let hamburgerIcon = document.querySelector('.hamburger-icon')
    // let mobileCloseIcon = document.querySelector('.mobile-close-btn')

    hamburgerBtn?.addEventListener('click', toggleNav)
    // mobileCloseIcon?.addEventListener('click', toggleNav)

    function toggleNav(){
        // mobileNav?.classList.toggle('show-nav');
        hamburgerIcon?.classList.toggle('animate');
    }

    // document.querySelector('.alert-close-btn')?.addEventListener('click', () =>{
    //     document.querySelector('.alert-banner').style.display = 'none';
    // })
</script>