<header>
    <div class="header-container wrapper">
        <div class="left-col">
            <p>Your Logo</p>

            <nav>
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Features</a>
                    </li>
                    <li>
                        <a href="">Pricing</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right-col"></div>
    </div>
</header>

<style>
    header{
        width: 100%;
        padding: 1.5rem 0;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>