<header>
    <div class="header-container wrapper">
        <div class="left-col">
            <a href="#" class="logo" title="logo" aria-label="Logo">AGENCY</a>

            <nav>
                <ul>
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Features</a>
                    </li>
                    <li>
                        <a href="">Pricing</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right-col">
            <a href="#" class="cta">Get Started</a>
        </div>
    </div>
</header>

<style>
    header{
        width: 100%;
        padding: 1.5rem 0;
        background-color: var(--oatmeal);
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-container .left-col{
        display: flex;
        align-items: center;
        gap: 0 5.5rem;
    }
    .left-col .logo{
        font-family: "Inter", serif;
        letter-spacing: 1.25px;
        font-size: 1.75rem;
        font-weight: 700;
        font-style: normal;
        font-optical-sizing: auto;
        color: #000;
    }
    .header-container nav ul li{
        display: inline-block;
        margin-right: 1.5rem;
    }
    .header-container nav ul li:last-child{margin-right: 0;}
    .header-container nav ul li a{
        color: #000;
    }
</style>