<section>
    <div class="hero-container wrapper">
        <div class="col">
            <h1>Building captivating and engaging websites for your business</h1>
            <p>Modi adipisci officia, iste enim accusantium alias similique nesciunt saepe suscipit expedita rem adipisci, ipsam rerum, consequuntur quae quidem eum aut.</p>
        </div>
        <div class="col">
            <div class="inner-col"></div>
            <div class="inner-col"></div>
        </div>
    </div>
</section>

<style>
    .hero-container{
        display: flex;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .hero-container .col{width: 50%;}
    .col h1{
        font-size: 2.5rem;
        margin-bottom: 1.75rem;
        line-height: 1.25;
    }
</style>