<section>
    <div class="icon-card-container wrapper">
        <h2>Our Awesome Features</h2>

        <div class="card-container">
            <div class="card"></div>

        </div>
    </div>
</section>

<style>
    section{
        background-color: var(--matcha);
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
    }
    section h2{text-align: center;}
    section .card-container{
        display: flex;
        flex-wrap: wrap;
        padding: 0 1rem;
    }
    .card-container .card{width: 50%;}
</style>