<section>
    <div class="icon-card-container wrapper">
        <h2>Our Awesome Features</h2>
    </div>
</section>

<style>
    section{
        background-color: var(--matcha);
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
    }
</style>