<section>
    <div class="pricing-container wrapper">
        <h2>Our Pricing Plan</h2>

        <div class="card-container">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
</section>

<style>
    section{
        padding: 4rem 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
</style>