---
	import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />


		<meta name="robots" content="noindex, nofollow">


		<title>Website Template</title>
		<meta property="og:title" content="Website Template">
		<link rel="canonical" href="">
		<meta property="og:url" content="">
		<meta property="og:type" content="website">
		<meta property="og:description" content="" >

		<meta name="description" content="">
		<meta name="keywords" content="">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	</head>
	<body>
		<slot />
	</body>
</html>